<aside>
    <ul>
        <li><a href="/physio">Физиотерапия</a></li>
        <li><a href="/rehabilitation">Рехабилитация</a></li>
        <li><a href="/massage">Масаж</a></li>
        <li><a href="/hospis">Хоспис</a></li>
        <li><a href="/payments">Плащания</a></li>
    </ul>
</aside>