<header>
    <nav>
        <img src="images/logo.svg" alt="site logo">
        <ul>
            <li><a href="/home">Начало</a></li>
            <li><a href="/purpose">Цел</a></li>
            <li><a href="/tasks">Задачи</a></li>
            <li><a href="/resources">Средства</a></li>
            <li><a href="">Запази час...</a></li>
        </ul>
    </nav>
</header>