<header>
    <a href="/home" class="home">
    <img src="images/logo.svg" alt="site logo">
    </a>
    <nav>
        <ul>
            <li><a href="/purpose">Цел</a></li>
            <li><a href="/tasks">Задачи</a></li>
            <li><a href="/resources">Средства</a></li>
            <li><a href="/contacts">Контакти</a></li>
        </ul>
    </nav>
</header>