<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    {{>header}}

    <div class="wrapper">

        {{>aside}}

        <main>
            {{{body}}}
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea ab nihil asperiores dignissimos ad, cumque
                nam
                iure corrupti autem voluptates illum quam beatae unde et minima, suscipit distinctio, omnis provident!
            </p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea ab nihil asperiores dignissimos ad, cumque
                nam
                iure corrupti autem voluptates illum quam beatae unde et minima, suscipit distinctio, omnis provident!
            </p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea ab nihil asperiores dignissimos ad, cumque
                nam
                iure corrupti autem voluptates illum quam beatae unde et minima, suscipit distinctio, omnis provident!
            </p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea ab nihil asperiores dignissimos ad, cumque
                nam
                iure corrupti autem voluptates illum quam beatae unde et minima, suscipit distinctio, omnis provident!
            </p>
           
        </main>

    </div>

    
</body>

</html>