<div>
    <h2>Масаж </h2>
    <p>Масаж е манипулация на повърхностните и по-дълбоки слоеве на мускулите и съединителната тъкан чрез използването
        на множество техники с цел подобряване и увеличаване на функционалността, лечение и спомагащи лечението терапии,
        при схващания от прекомерна активност, при намалена мускулно-рефлексивна активност, при възпрепятствана
        възбудимост, масажът подобрява релаксацията и доброто състояние, самочувствие на индивида и подпомага отмората и
        почивката, възстановяването и има освежаващ ефект.</p>
</div>