<div>
    <h2>Каква е същността на физиотерапията?</h2>
    <p>Физиотерапията е лечение с физически средства. Към тях спадат електрическият ток, светлината, ултразвукът, а също
        и природните - слънцето, въздухът, водата и лечебната кал.Физиотерапията е едно от направленията, които се
        използват най-интензивно при много заболявания, които варират в широки граници - от леки навяхвания до
        отстраняване последиците от инсулт, инфаркт, полиомиелит. Най-често се прилагат при заболявания на двигателната
        система. Към физиотерапията се отнася и масажът, тоест механичното въздействие.</p>
    <p>Физиотерапията помага за по-бързо възстановяване след прекарани тежки заболявания или оперативни интервенции.
        При хроничните заболявания физиотерапията помага на пациента да избягва обострянията на болестта или да се
        справи с тях по-успешно. Необходима е и когато лекарствата не действат ефективно.</p>
    <p>Физиотерапията подобрява кръвообращението и ускорява метаболизма. Заедно с това се усилва и регенерацията в
        клетките и тъканите и по тази причина физиотерапията е ефективна при язви, кожни заболяванияи други повърхностни
        нарушения. Използват се методите на галванизация, импулсни токове, високочестотни токове, ултразвук.
        С електрофорезата лекарството може да се достави директно до болната тъкан, без да преминава през стомаха и
        червата. Токът стимулира нервната система. Подпомага процеса на отпускане и съкращаване на мускулите, което е
        кратък път до стихване на болката. Този процес се нарича електростимулация.</p>
    <p>Много е полезен при схващания на мускулите, следствие от травми от всякакъв порядък, както и всички артритни
        заболявания. Топлината и светлината действат по същия начин - стимулират кръвообращението и ускоряват
        възстановяването след травми или заболявания.</p>
    <p>Процедурите по физиотерапията са ефективни и при здравословни проблеми на вътрешните органи. Отпускат гладката
        мускулатура, от която се, състоят вътрешните органи и тъкани, и така те се снабдяват по-пълноценно с хранителни
        вещества. Затова се назначава при сърдечно-съдови и други вътрешни заболявания.</p>
</div>