<div>
    <h2>Цел</h2>
    <p>Целта на рехабилитацията е да възстанови някои или всички физически, сензорни и умствени способности на човека,
        които са загубени в резултат на травма, болест или заболяване.
        В процеса на рехабилитационната програма се включва и оказването на помощ, с цел компенсиране на определени
        дефицити, които не могат да бъдат преодоляни от медицинска гледна точка.</p>
    <p>Рехабилитация се назначава при при много видове травми, болести и заболявания, включително:</p>
    <ul>
        <li>Неврологични заболявания (мозъчен инсулт, травматични увреждания на главния мозък, наранявания на гръбначния
            мозък, неврози и неврастении, плексити, неврити, невралгии, радикулити, дископатии и дискови хернии, плегии,
            множествена склероза, Паркинсонова болест и др.);</li>
        <li>Сърдечно-съдови заболявания (артериална хипер- и хипотония, инфаркт на миокарда, тромбофлебит и
            флеботромгоза, болест на Бюргер, болест на Райно и др.);</li>
        <li>Ортопедични заболявания и травми (травматични увреждания на крайниците, артритни изменения, ампутации,
            деформации, фрактури, контузии, Зудеков синдром, артрози, спондилози, спондилолистези, болест на Бехтерев и
            др.);</li>
        <li> Заболявания на дихателната система (при плеврити, плевмонии, абсцеси, емфиземи, астма и др.);</li>
        <li>Заболявания на храносмилателната система (при язвена болест, колити, гастрити, запек, гастроентероптоза,
            подагра, диабет, обезитас-свръхтегло и др.);</li>
        <li>След хирургични интервенции (подмяна на стави, транспозиция на мускули, различни операции);</li>
        <li>При акушеро-гинекологични заболявания и операции (включително при бременност, преди и след раждане);</li>
        <li>При заболявания в детска възрастПри заболявания в старческа възрастПри професионални заболявания.</li>
    </ul>
    <p>Правилната и адекватна рехабилитация може да обърне хода на много от състоянията които водят до обездвижване или
        ограничаване на движенията, както и да помогне на хората с необратими двигателни дефицити.</p>
    <p>Рехабилитацията е насочена към физическите и психологическите нужди на пациента, както и към тези на
        заобикалящата го среда. Това се постига чрез възстановяване на физическите функции на пациента и / или чрез
        модифициране на физическата и социална среда на пациента.</p>
    <p>Основните методи на лечение на рехабилитацията са:</p>
    <ul>
        <li>активна и пасивна рехабилитация;</li>
        <li>апаратна физиотерапия;</li>
        <li>масаж;</li>
        <li>лечебна физкултуралогопедична терапия.</li>
    </ul>
    <p>Упражнението/движението е най-често използвания метод в рехабилитацията. В зависимост от състоянието на пациента,
        упражненията може да бъдат извършвани само от страна на пациента (активни упражнения) или с помоща на
        рехабилитатора или изцяло от страна на рехабилитатора (пасивни упражнения).</p>
    <p>Всяка рехабилитационна програма е съобразена с нуждите на отделния пациент и може да включва един или повече
        видове терапия.</p>
</div>