<div>
    <h3>Какво е рехабилитация?</h3>
    <p>Рехабилитация буквално означава възстановяване чрез използването на различни терапевтични средства за
        подобряване както на физическото, така и на емоционално състояние на човек.

        Като част от цялостната физиотерапия, самата рехабилитация представлява лечение, което помага на пациентите да
        запазят, възвърнат или подобрят своите физически функции и способности.

        Рехабилитация също така е средство за превенция от настъпването на различни състояния, които могат да повлияят
        негативно върху правилната функционалност на тялото.</p>
    <h3>Нужда от рехабилитация – какви са причините?</h3>
    <p>Някои от най-честите причини за рехабилитация включват:</p>
    <ul>
        <li>Травми, фрактури и наранявания.</li>
        <li>Остра и хронична болка.</li>
        <li>Болести и заболявания.</li>
        <li>Тежки инфекции.</li>
        <li>Следоперативни състояния.</li>
        <li>Странични ефекти от медицинско лечение.</li>
        <li>Определени вродени дефекти и генетични нарушения.</li>
        <li>Увреждания в развитието.</li>
    </ul>
    <h3>Рехабилитация – какви са нейните цели?</h3>
    <p>Общата цел на съвременната рехабилитация е да помогне на пациента да възвърне своето състояние, способности и
        независимост, които е имал преди настъпването на травмата, заболяването или др. Разбира се конкретните цели са
        различни за всеки човек и те зависят от това, което е причинило проблема, от това дали причината е продължаваща
        или временна, от това кои способности са загубени, от това колко тежък е проблемът и т.н.</p>
    <h3>Рехабилитация и физикална терапия</h3>
    <p>Физикалната терапия, като основен дял от цялостната рехабилитация, се прилага за лечението на болести или
        наранявания, които ограничават способността на човек да се движи и изпълнява функционални действия в ежедневието
        си.</p>
    <p>Първата стъпка е преглед на медицинската история и консултация със специалист, които дават насока за диагнозата
        на пациента, а в някои случаи е необходимо да се включат допълнителни лабораторни и образни изследвания.</p>
    <p>Следващата стъпка е изготвянето на адекватен план за рехабилитация, съобразен с резултатите, състоянието и
        целите, които трябва да се постигнат.</p>
    <h3>Какво се случва по време на рехабилитация?</h3>
    <p>При рехабилитация за пациента се грижи екип от специалисти, които разбирайки неговите нужди му помагат, като
        разработват и прилагат целесъобразен план за лечение. В повечето случаи това включва също използването на
        модерно оборудване и апаратура, което спомага за по-бързото и ефективно възстановяване</p>
    <h3>Рехабилитация – какви други видове има?</h3>
    <p>Освен най-разпространената и прилага рехабилитация за изграждане на сила, издръжливост, гъвкавост и когнитивно
        функциониране, която разгледахме по-горе, а именно – физикална рехабилитация, има още:</p>
    <ul>
        <li>Трудова рехабилитация – форма на терапия за онези, които се възстановяват от физически или психически
            заболявания. Насърчава се лечение чрез извършване на дейности, необходими в ежедневния живот.</li>
        <li>Рекреационна терапия/Арт терапия – помага за изразяването на чувствата, подобряване на мисловната дейност и
            развиването на социални взаимоотношения. Подобрява емоционалното състояние чрез изкуства, занаяти, игри,
            тренировки за релаксация и терапия с участието на животни.</li>
        <li>Логопедия – обучение за подпомагане на хора с говорни и речеви проблеми.</li>
        <li>Когнитивна рехабилитация – помага за развитието на умения като учене и планиране, развива паметта, стимулира
            самостоятелното вземане на решения.</li>
        <li>Водна терапия – рехабилитация, при която лечението и упражненията се извършват във вода: релаксация, фитнес
            упражнения, физическа активност и други терапевтични похвати.</li>
        <li>Амбулаторна рехабилитация – терапия след стационарен престой, когато са необходими допълнителни услуги за
            разширяване и допълване на лечението, получено по време на престой в болница например.</li>
    </ul>
    <p>Важно: В зависимост от състоянието на пациента и неговата подвижност, е възможно да се наложи лечение в домашни
        условия.</p>

    {{!-- Рехабилитация в Медицински център “Стайков и фамилия”
    След нараняване или прекарана болест, всичко, което пациентът желае е да се върне към нормалния си живот
    възможно най-бързо. В повечето случаи това означава, че той има нужда да получи помощ от обучен в областта на
    съвременната рехабилитация професионалист, който да работи с него, за да изградят заедно необходимата сила,
    гъвкавост и контрол на мускулите.

    Изборът на подход или комбинация от такива се определя от целта, заложена за рехабилитация. Фокусът върху
    възстановяване от страна на медицинските специалисти осигурява плавен и успешен преход за пациента, който вижда
    резултатите от назначеното терапевтично лечение за рехабилитация.

    За консултация, моля обадете се на контакти и си запишете час за преглед. Може да го направите и онлайн през
    нашия сайт- лесно, бързо и удобно е за Вас! --}}

</div>