
aside {
    flex-basis: 30%;
    margin-right: 1em;
    padding-right: 1em;
}

aside ul {
    border: 1px solid;
    border-radius: 0.3em;
    padding-bottom: 0;
    padding-left: 0;
}

aside li {
    list-style: none;
    background-color: rgb(234, 242, 253);
    padding: 0.5em;
}

aside li+li {
    border-top: 1px solid rgb(197, 214, 237);
}

aside a {
    text-decoration: none;
}