footer {
    background: linear-gradient(180deg, rgba(0, 128, 182, 1) 0%, rgba(0, 128, 182, 1) 35%, rgba(0, 212, 255, 1) 100%);
    margin-top: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 1366px;
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    text-align: center;
}