@media only screen and (max-width: 600px) {
    html {
        font-size: 18px;
    }
    header {
        flex-direction: column;
    }
    header nav ul {
        text-align: center;
    }
    header nav ul li {
        text-align: center;
        width: 40%;
    }
    .wrapper {
        flex-direction: column;
    }
    .home {
        width: 100%;
        padding: 0.3rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1249px) {
    html {
        font-size: 18px;
    }
}

/* @media only screen and (min-width: 1250px) {
    body {
        max-width: 1250px;
    }
} */